<div class="row">
  <article class="4u 12u(mobile) special">
    <a ui-sref="route1" class="image featured"><img src="assets/images/treinos.jpg" alt="" /></a>
    <header>
      <h3><a ui-sref="route1">Treinos</a></h3>
    </header>
    <p>
      Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
      porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
    </p>
  </article>
  <article class="4u 12u(mobile) special">
    <a ui-sref="route2" class="image featured"><img src="assets/images/consultoria.jpg" alt="" /></a>
    <header>
      <h3><a ui-sref="route2">Consultoria</a></h3>
    </header>
    <p>
      Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
      porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
    </p>
  </article>
  <article class="4u 12u(mobile) special">
    <a ui-sref="route3" class="image featured"><img src="assets/images/retiros.jpg" alt="" /></a>
    <header>
      <h3><a ui-sref="route3">Retiros</a></h3>
    </header>
    <p>
      Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
      porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
    </p>
  </article>
</div>
