<h1><a ui-sref="index">Voltar</a></h1>
<br />
<div class="row">
  <article class="">
    <header>
      <h3><a ui-sref="route1">Treinos Vendas</a></h3>
    </header>
    <p>
      Programa “Profiling Comportamental nas Vendas” <a href="url">Saiba mais</a>
    </p>
    <p>
      Treino “Primeira abordagem às Ferramentas de Profiling Comportamental nas Vendas”<a href="url"> Saiba mais</a>
    </p>
    <p>
      Treino “Descobrir a verdadeira Necessidade do Cliente” <a href="url">Saiba mais</a>
    </p>
    <p>
      Retiro de Vendas <a href="url">Saiba mais</a>
    </p>

  </article>
  <article class="">
    <header>
      <h3><a ui-sref="route2">Treinos Liderança</a></h3>
    </header>
    <p>
      <p>
      Programa “Profiling Comportamental na Liderança” <a href="url">Saiba mais</a>
    </p>
    <p>
      Treino “Primeira abordagem às Ferramentas de Profiling Comportamental na Liderança” <a href="url">Saiba mais</a>
    </p>
    <p>
      Treino “Descobrir a verdadeira Necessidade de cada elemento” <a href="url">Saiba mais</a>
    </p>
    <p>
      Retiro de Liderança <a href="url">Saiba mais</a>
    </p>
  </article>
</div>
<div class="row">
  <article class="">
    <header>
      <h3><a ui-sref="route1">Treinos Pós-Venda</a></h3>
    </header>
    <p>
      Programa “Profiling Comportamental no Pós-Venda” <a href="url">Saiba mais</a>
    </p>
    <p>
      Treino “Primeira abordagem às Ferramentas de Profiling Comportamental no Serviço Pós-Venda” <a href="url">Saiba mais</a>
    </p>
    <p>
      Treino “Descobrir a verdadeira Necessidade do Cliente” <a href="url">Saiba mais</a>
    </p>
  </article>
  <article class="">
    <header>
      <h3><a ui-sref="route2">Trabalho em equipa</a></h3>
    </header>
    <p>
      Treino “Melhorar a Comunicação através do Profiling Comportamental” <a href="url">Saiba mais</a>
    </p>
    <p>
      Retiro de Trabalho em Equipa <a href="url">Saiba mais</a>
    </p>
  </article>
</div>
